.property-list {
  padding: 30px;
  display: flex;
  font-size: 20px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px; /* Add border-radius for rounded corners */
 
}

/* Style individual description cards */
.description-card {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 15px; /* Adjust this margin for spacing between cards */
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  color: #000000;
  margin-top: 220px; /* Add margin to the bottom to lower the cards */
  display:flex;
  border-radius: 10px; /* Add border-radius for rounded corners */
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust this to control spacing between testimonial squares */
  margin-top: 0px; /* Adjust the margin at the top to lower the squares */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px; /* Add border-radius for rounded corners */
}


/* Space out the description cards */
.property-card + .property-card {
  margin-top: 30px;
  border-radius: 10px; /* Add border-radius for rounded corners */
}

body {
  margin: 0;
  background-image: url('neighborhoodz.jpg'); /* Specify the path to your background image */
  background-size: cover;
  border-radius: 10px; /* Add border-radius for rounded corners */

  background-position: center;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .property-list {
    grid-template-columns: 1fr;
  }
}



